{% extends 'base.html' %}
{% block title %}留言页面{% endblock %}
{% block div %}
    <div class="login-box" id="demo">
        <div class="input-content">
            <div>
                <form method="post" action="/ct/{{ id }}/">
                    {% csrf_token %}
                    <div class="form-group" style="margin-top: -200px">
                        <label for="name" style="color: red;font-size: 20px">请输入评论内容：</label>
                                            <input type="submit" value="发表" style="float: right;background-color: whitesmoke">

                        <textarea  name="content" cols="2"   rows="6"   style="OVERFLOW:   hidden;height: 200px;width: 400px;background-color: #95B8E7" ></textarea>
                    </div>
                </form>
            </div>


            <div style="height: 600px;width:800px;overflow: auto;margin-left: -100px" >
                {% for i in com %}

                    <div style="background-color: #066197;margin-top: 20px;width: 600px;height: 120px;text-align: center">
                        <div style="float: left;font-size: 20px;font-weight: bold">用户：{{ i.user }}</div>
                        <div style="margin-left: 300px;font-size: 20px;font-weight: bold">发布时间：{{ i.add_date }}</div>
                        <div  style="float: left">留言内容:{{ i.content }}</div>
                    </div>
                {% endfor %}
            </div>

        </div>
        <div class="canvaszz"></div>
        <canvas id="canvas"></canvas>
    </div>
{% endblock %}